<% @secrets.each do |secret| %>
  <p><%= secret.content %></p>
  <p><%= secret.likes.count %> likes</p>
  <% if secret.users.where(id: current_user.id).exists? %>
  <form action="/secrets/<%= secret.id %>/Unlike">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" name="Like" value="Unlike">
  </form>
  <% else %>
  <form action="secrets/<%= secret.id %>/like">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" name="Like" value="Like">
  </form>
  <% end %>
  <% if current_user == secret.user %>
    <form action="/secrets/<%= secret.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input name="_method" type="hidden" value="delete" />
      <input type="submit" name="Delete Secret" value="Delete Secret">
    </form>
  <% end %>
<% end %>
