<h1>Secrets</h1>

<% @secrets.each do |secret| %>
    <p><%= secret.content %></p>
    <% if current_user == secret.user %>
        <a href="<%= secret_path(secret.id) %>" data-method="delete">
            <button>Delete Secret</button>
        </a>
    <% end %>
    <p><%= secret.likes.count %> likes</p>
    
    <% if secret.users.include? current_user %>
        <a href="<%= likes_destroy_path %>" data-method="delete">
            <button>Unlike</button>
        </a>
    <% else %>
        <form action="<%= likes_create_path %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <input type="hidden" name="like[user_id]" value="<%= current_user.id %>">
            
            <input type="hidden" name="like[secret_id]" value="<%= secret.id %>">
            
            <input type="submit" value="Like">
        </form>
    <% end %>
<% end %>