<h1>all dojos</h1>
<table>
	<tr>
		<th>Branch</th>
		<th>Street</th>
		<th>City</th>
		<th>State</th>
		<th>actions</th>
	</tr>
		<% @dojos.each do |dojo| %>
	<tr>
			<td><%= dojo.branch %></td>
			<td><%= dojo.street %></td>
			<td><%= dojo.city %></td>
			<td><%= dojo.state %></td>
			<td><a href="/show/<%= dojo.id %>" >show</a><a href="/edit/<%= dojo.id %>">edit</a><a href="/destroy/<%= dojo.id %>" data-method="delete">destroy</a></td>
	</tr>
		<% end %>
</table>

<a href="/dojo/new">create new Dojo</a>
