<h1>dojo: <%= @dojo.branch %></h1>
<p>street: <%= @dojo.street %></p>
<p>city: <%= @dojo.city %></p>
<p>state: <%= @dojo.state %></p>
<a href="/edit/<%= @dojo.id %>">edit</a>
<a href="/index">home</a>
<a href="/destroy/<%= @dojo.id %>" data-method="delete">delete</a>

<h1>Students</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>actions</th>
	</tr>
		<% @students.each do |student| %>
	<tr>
			<td><%= student.first_name %> <%= student.last_name %></td>
			<td><%= student.email %></td>
			<td><a href="/show/<%= student.id %>" >show</a><a href="/student/<%= student.id %>/edit">edit</a><a href="/destroy/<%= student.id %>" data-method="delete">destroy</a></td>
	</tr>
		<% end %>
</table>
<a href="/student/new">create a new student</a>