<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Survey Form </title>
	</head>
	<body>
		<main>
			<% if flash[:success] %>
				<div id="alert">
					<p> <%= flash[:success] %> </p>
				</div>
			<% end %>
			<div id="content">
				<h2> Submitted Info </h2>
				<p>Your Name: <%= @this_user.name %> </p>
				<p>Dojo Location: <%= @this_user.location %> </p>
				<p>Favorite Language: <%= @this_user.language %> </p>
				<p>Comments: <%= @this_user.comment %> </p>

				<form action='/'>
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<button = button_to "/"> Go Back </button>
				</form>
			</div>
		</main>
	</body>
</html>