<h1>Listing <%= @dojos.count %> Dojos</h1>

<table>
    <thead>
        <tr>
            <th>CodingDojo Branch</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @dojos.each do |dojo| %>
        <tr>
            <td>
                <%= dojo.branch %>
            </td>
            <td>
                <%= dojo.street %>
            </td>
            <td>
                <%= dojo.city %>
            </td>
            <td>
                <%= dojo.state %>
            </td>
            <td>
                <a href="/dojos/<%= dojo.id %>">Show</a> | 
                <a href="/dojos/<%= dojo.id %>/edit">Edit</a> | 
                <a href="/dojos/<%= dojo.id %>" data-method="delete">Destroy</a>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<a href="/dojos/new">New Dojo</a>