<h1>you have submitted a form <%= session[:count] %> times</h1>

<p>name: <%=@student.name%></p>
<p>dojo: <%=@student.dojo%></p>
<p>language: <%=@student.language%></p>
<p>comment: <%=@student.comment%></p>

<a href="/">go back</a>
