<p><%= flash["success"] %>
<h4>Submitted Information</h4>
<p>Name: <%= session["results"]["name"] %>
<p>Dojo Location: <%= session["results"]["location"] %>
<p>Favorite Language: <%= session["results"]["fav"] %>
<p>Comment (optional): <%= session["results"]["comment"] %>
