<h1> Secrets </h1>
<% @secrets.each do |secret| %>
	<!-- secret content everyone can see -->
	<p> <%= secret.content %> </p>
	<p> <%= secret.likes.count %> like(s) </p>
	<% if current_user == secret.user %>
		<!-- secret content only user who created can see -->
		<a href="<%= secret_path(secret.id) %>" data-method="delete"><button> Delete </button></a>
	<% end %>
		
	<% if secret.users.include?(current_user) %>
	<!-- will return an array of user objects -->
			<a href="<%= like_path(secret.id) %>" data-method="delete"><button> Unlike </button></a>

	<% else %>
		<!-- user can see if haven't liked -->
		<form action="<%= likes_path %>" method="POST">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<!-- only need to pass the user_id through params for creating a like -->
			<input type="hidden" name="like[user_id]" value="<%= current_user.id %>">
			<input type="hidden" name="like[secret_id]" value="<%= secret.id %>">
			<button type="submit"> Like </button>
		</form> 
	<% end %>
<% end %>